
                    
                        <div class="card">
                            <div class="card-main">
                                <div class="">
                                    <div class="card-inner">
                                        <p>
                                            Create Post Here!
                                        </p>
                                        <form class="form">


                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-lg-2 col-md-3 col-sm-4">
                                                        <label class="form-label" for="input-textarea">Content</label>
                                                    </div>
                                                    <div class="col-lg-4 col-md-8 col-sm-8">
                                                        <textarea ng-model="post.content" class="form-control" id="input-textarea" rows="5" style="margin: 0px -69.9652786254883px 0px 0px; width: 448px; height: 116px;"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-btn" style="float:right">
                                                <a ui-sref="group({group:groupId})" class="btn waves-attach waves-button waves-effect" >Cancel</a>                                                
                                                <button ng-click="post()" class="btn btn-blue waves-attach waves-button waves-light waves-effect btn-grosh" type="submit">Post it!</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
  


