<!DOCTYPE html>
<html lang="en" ng-app="grosh">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="initial-scale=1.0, width=device-width" name="viewport">
    <!--base href="/"-->
    <title>Grosh</title>
    <!-- css -->
    <link href="css/base.min.css" rel="stylesheet">
    <link href="css/grosh.base.css" rel="stylesheet">
    <!-- favicon -->
    <!-- ... -->
    <!-- ie -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body id="nav-container">

    <menu-bar></menu-bar>
    <div id="app-content" ui-view>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/base.min.js"></script>
    <script src="dist/bundle.js"></script>
    <script src="http://localhost:8000/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io();
        socket.on('request559786baa361ca280ffa15f0', function (data) {
            console.log(data);
        });
        socket.on('invitation559786baa361ca280ffa15f0', function (data) {
            console.log(data);
        });
    </script>
</body>

</html>