
                    
                        <div class="card">
                            <div class="card-main">
                                <div class="">
                                    <div class="card-inner">
                                        <p>
                                            Add an Image Url for the group's cover picture
                                        </p>
                                        <form class="form">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-lg-2 col-md-3 col-sm-4">
                                                        <label class="form-label" for="input-url">Image Url</label>
                                                    </div>
                                                    <div class="col-lg-4 col-md-8 col-sm-8">
                                                        <input ng-model="image.url" class="form-control" id="input-url" type="name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-btn" style="float:right">
                                                <a ui-sref="group({group:groupId})" class="btn waves-attach waves-button waves-effect" >Cancel</a>                                                
                                                <button ng-click="addUrlImage()" class="btn btn-blue waves-attach waves-button waves-light waves-effect btn-grosh" type="submit">Add Image</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
  




