<div class="content m-main" >
    <div class="content-heading ">
        <div class="container">
            <h2 class="heading">My Groups</h2>
        </div>
    </div>
    <div class="container">
        <section class="content-inner">
            <ul class="nav nav-justified">
                <li>
                    <a ng-click="createdGroups()" id="createdGroups" class="tile active-profile" href="javascript:void(0)">Admin Groups</a>
                </li>
                <li>
                    <a ng-click="joinedGroups()" id="joinedGroups" class="tile" href="javascript:void(0)">Member Groups</a>
                </li>
            </ul>   

            <div class="card-wrap">
                <div class="row">
                    <div ng-repeat="group in groups.slice().reverse()" class="col-lg-3 col-md-4 col-sm-6">
                        <div class="card">
                            <div class="card-main">
                                <div class="">
                                    <div class="card-img group-card" ng-style="getUrlByGroup(group)">
                                        <p class="card-img-heading">{{group.name}}</p>
                                    </div>
                                    <div class="card-inner">
                                        <p>
                                            {{group.description}}
                                        </p>
                                    </div>
                                    <ul class="nav nav-list options-card pull-right">
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown"><span class="icon">more_vert</span></a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a ui-sref="group({group:group._id})" href="javascript:void(0)"><span class="icon margin-right-sm">details</span>&nbsp;View</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="fbtn-container">
    <div class="fbtn-inner">
        <a ui-sref="createGroup" class="fbtn fbtn-red fbtn-lg btn-grosh-circular">
       	 <span class="fbtn-ori icon">add</span>
       	 <span class="fbtn-text">Create New Group!</span>
        </a>
    </div>
</div>