<div class="content m-main " >

        
    <div class="content-heading profile-header" back-img="{{back}}">
        <div class="form-group-btn btn-add-img" style="float:right" ng-show="isAdmin">
        <a  class="btn waves-attach waves-button waves-effect " ngf-select ng-model="file" ngf-multiple="false" href="#/home"><span class="fbtn-ori icon hvr-bounce-in">add_to_photos</span></a>                                
        <!--a ui-sref=".addCover" class="btn waves-attach waves-button waves-effect " href="#/home"><span class="fbtn-ori icon hvr-bounce-in">add_to_photos</span></a-->                                
        </div>
        <div class="container profile-header-container-group" >
            <h2 class="heading profile-title ">{{currentGroup.name}}</h2>
        </div>
    </div>        

    <div class="container group-detail">  
    <div class="fbtn-group-detail">
        <div class="fbtn-inner">
            <a class="fbtn fbtn-red fbtn-lg btn-grosh-circular">
             <span class="fbtn-ori icon icon-lg">details</span>
             <span class="fbtn-text">More Info about {{currentGroup.name}}</span>
            </a>
        </div>
    </div>
        <section class="content-inner ">
            <div ui-view></div>
			<div class="dropdown-wrap">
					<div class="dropdown dropdown-inline">
						<a class="btn dropdown-toggle-btn" data-toggle="dropdown" aria-expanded="true">Filter Posts<span class="icon margin-left-sm">keyboard_arrow_down</span></a>
						<ul class="dropdown-menu nav" style="max-width: 968px;">
							<li>
								<a href="javascript:void(0)">All</a>
							</li>
							<li>
								<a href="javascript:void(0)">Text</a>
							</li>
							<li>
								<a href="javascript:void(0)">Images</a>
							</li>
							<li>
								<a href="javascript:void(0)">Files</a>
							</li>						
						</ul>
					</div>
			</div>
            <div class="card-wrap ">

                 <div class="row" ng-repeat="post in posts.slice().reverse()" >
                        <div class="col-lg-6 col-md-6 col-sm-6 col-post">
							<div class="card">
								<div class="card-main">
									<div class="card-header">
										<div class="card-header-side pull-left">
											<div class="avatar">
												<img alt="John Smith Avatar" src="images/users/avatar-001.jpg">
											</div>
										</div>
										<div class="card-inner">
											<span>{{ post.user_creator.name + ' '+ post.user_creator.last_name}}</span>
										</div>
									</div>

									<div class="card-inner">
										<p>
											{{post.content}}
										</p>
									</div>
									<div class="card-action">
										<ul class="nav nav-list pull-left">
											<li>
												<a href="javascript:void(0)"><span class="icon text-blue">ring_volume</span>&nbsp;<span class="text-blue">{{post.answers.length}} Answers</span></a>
											</li>
										</ul>
										<ul class="nav nav-list pull-right">
											<li class="dropdown">
												<a class="dropdown-toggle" data-toggle="dropdown"><span class="icon">keyboard_arrow_down</span></a>
												<ul class="dropdown-menu">
													<li>
														<a href="javascript:void(0)"><span class="icon margin-right-sm">filter_1</span>&nbsp;Lorem Ipsum</a>
													</li>
													<li>
														<a href="javascript:void(0)"><span class="icon margin-right-sm">filter_2</span>&nbsp;Consectetur Adipiscing</a>
													</li>
													<li>
														<a href="javascript:void(0)"><span class="icon margin-right-sm">filter_3</span>&nbsp;Sed Ornare</a>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
                </div>


            </div>
        </section>
    </div>
</div>
<div class="fbtn-container">
		<div class="fbtn-inner">
			<a class="fbtn fbtn-red fbtn-lg btn-grosh-circular" data-toggle="dropdown" aria-expanded="false"><span class="fbtn-text">Express Something!</span><span class="fbtn-ori icon">edit</span><span class="fbtn-sub icon">close</span></a>
			<div class="fbtn-dropdown">
				<a ng-click="showNewPost('text')" class="fbtn" href="javascript:void(0)" ><span class="fbtn-text">Text</span><span class="fa fa-pencil-square-o"></span></a>
				<a ng-click="showNewPost('image')" class="fbtn fbtn-blue" href="javascript:void(0)"><span class="fbtn-text">Image</span><span class="fa fa-picture-o"></span></a>
				<a ng-click="showNewPost('file')" class="fbtn fbtn-alt" href="javascript:void(0)"><span class="fbtn-text">File</span><span class="fa fa-file-o"></span></a>
			</div>
		</div>
</div>